.main_sidebar {
  overflow-y: overlay;
  overflow-x: hidden;
  z-index: 50;
  background-color: transparent;
  border-radius: 8px;
}

.main_sidebar:hover::-webkit-scrollbar {
  width: 7px;
}

/* width */
.main_sidebar::-webkit-scrollbar {
  width: 0px;
}

/* Handle */
.main_sidebar::-webkit-scrollbar-thumb {
  background: #abb2c7;
  border-radius: 15px;
}

.main_sidebar .button_box {
  padding: 10px 2px;
  cursor: pointer;
  margin-bottom: 8px;
  color: #5c626a;
  transition: 0.2s all;
  width: 100%;
}

.main_sidebar .button_box img {
  width: 24px;
  margin: auto;
  margin-bottom: 5px;
}

.main_sidebar .button_box h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 16px;
  text-align: center;
  white-space: nowrap;
  margin-bottom: 20px;
}

.main_sidebar .fill_div {
  min-height: 100%;
  width: 90px;
  /* background-color: #edf0f9; */
  position: relative;
  padding: 15px 8px;
  margin: 20px 0 0 0;
}

.animation_box {
  width: 74px;
  height: 65px;
  position: absolute;
  border-radius: 6px;
  transition: 0.2s ease;
}

.inner_pannelbar {
  width: 350px;
  background-color: #edf0f9;
  border-radius: 8px;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: 0.2s all;
  position: relative;
}

.scroll_bar_section {
  overflow-y: overlay !important;
  overflow-x: hidden;
  padding: 0px 9px 0 15px;
}

.scroll_bar_section:hover::-webkit-scrollbar {
  width: 7px;
  opacity: 1;
}
.scroll_bar_section::-webkit-scrollbar {
  width: 7px;
  opacity: 0;
}

.scroll_bar_section::-webkit-scrollbar-thumb {
  background: #ffffff00;
  border-radius: 15px;
}
.scroll_bar_section:hover::-webkit-scrollbar-thumb {
  background: #abb2c7;
  border-radius: 15px;
}

.inner_pannelbar .back_button {
  position: fixed;
  width: 15px;
  height: 90px;
  background: #f4f6fb;
  border-radius: 14px 0px 0px 14px;
  transform: rotate(-180deg);
  z-index: 500;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  top: 48%;
  transition: 0.2s all;
}

.active_text_linear {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;

  background: linear-gradient(85deg, #30a9d9 43.07%, #5765f6 131.91%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.category_slider {
  position: relative;
}

.category_slider h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  margin: 18px 0 0px;
}

.category_slider .scroll_slider {
  display: flex;
  width: 100%;
  overflow: auto;
  height: auto;
  align-items: center;
  background: transparent;
  gap: 8px;
  padding-right: 10px;
}
.category_slider .scroll_slider .button {
  background: #edf0f9;
  box-shadow: 8px 5px 8px rgba(171, 178, 199, 0.5),
    0px 0px 20px rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  padding: 5px 10px;
  margin: 12px 0px;
  color: black;
}

.activeTab {
  background: #edf0f9;
  box-shadow: 8px 5px 8px rgba(171, 178, 199, 0.5),
    0px 0px 20px rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  padding: 5px 10px;
  margin: 12px 0px;
  color: black;
  border: 2px solid transparent;
  background: linear-gradient(to right, #edf0f9, #edf0f9),
    linear-gradient(268.03deg, #5961f8 -0.66%, #15d8c5 100%, #15d8c5 100%);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
}

.brand_activeTab {
  background: #edf0f9;
  box-shadow: -8px -8px 16px 0px rgba(255, 255, 255, 0.7) inset,
    8px 8px 16px 0px rgba(171, 178, 199, 0.3) inset,
    8px 8px 16px 0px rgba(171, 178, 199, 0.5),
    -8px -8px 16px 0px rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  font-weight: 400;
  font-size: 14px;
  padding: 7px 10px;
  margin: 12px 0px;
  color: black;
  border: 2px solid transparent;
  background: linear-gradient(to right, #edf0f9, #edf0f9),
    linear-gradient(268.03deg, #5961f8 -0.66%, #15d8c5 100%, #15d8c5 100%);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
}

.brand_button {
  background: #edf0f9;
  box-shadow: -8px -8px 16px 0px rgba(255, 255, 255, 0.7) inset,
    8px 8px 16px 0px rgba(171, 178, 199, 0.3) inset,
    8px 8px 16px 0px rgba(171, 178, 199, 0.5),
    -8px -8px 16px 0px rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  font-weight: 400;
  font-size: 14px;
  padding: 7px 10px;
  margin: 12px 0px;
  color: black;
}

.category_slider .scroll_slider .active_button {
  background: #edf0f9;
  box-shadow: 8px 5px 8px rgba(171, 178, 199, 0.5),
    0px 0px 20px rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  padding: 5px 10px;
  margin: 12px 0px;
  border: 1.5px solid transparent;
  border-image-source: linear-gradient(
    268.03deg,
    #5961f8 -0.66%,
    #15d8c5 100%,
    #15d8c5 100%
  );

  border-image-slice: 1;
  background-origin: border-box;
  background-clip: content-box, border-box;

  background: linear-gradient(265.7deg, #2ec6b8 43.07%, #32e4d4 131.91%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.category_slider .next_button {
  width: 70px;
  height: 71px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  right: -36px;
  /* padding: 10px 10px 0px 20px; */
  background: linear-gradient(
    269.01deg,
    #edf0f9 30.52%,
    rgba(237, 240, 249, 0) 98.98%
  );
}

.category_slider .prev_button {
  width: 70px;
  height: 32px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: 21%;
  transform: translate(-50%, -50%);
  left: 0px;
  /* padding: 10px 10px 0px 20px; */
  background: linear-gradient(
    269.01deg,
    #edf0f9 30.52%,
    rgba(237, 240, 249, 0) 98.98%
  );
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.next_button img {
  width: 8px;
}
.prev_button img {
  width: 8px;
}

.see_all .headingbar {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin: 10px 0 10px;
}

.see_all .scroll_slider {
  display: flex;
  width: 100%;
  overflow: auto;
  height: auto;
  align-items: center;
  background: transparent;
  gap: 10px;
  padding-right: 10px;
}

.see_all .next_button {
  width: 70px;
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  right: -36px;
  /* padding: 10px 10px 0px 20px; */
  background: linear-gradient(
    269.01deg,
    #edf0f9 30.52%,
    rgba(237, 240, 249, 0) 98.98%
  );
}

.see_all .prev_button {
  width: 70px;
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: 0%;
  transform: translate(-50%, -50%);
  left: 0px;
  /* padding: 10px 10px 0px 20px; */
  background: linear-gradient(
    269.01deg,
    #edf0f9 30.52%,
    rgba(237, 240, 249, 0) 98.98%
  );
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.see_all_image {
  width: 80px;
  height: 80px;
  min-width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.all_template {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* gap: 10px; */
}

.template_showing_box {
  width: 49%;
  cursor: pointer;
  position: relative;
}

.more_dialog {
  position: absolute;
  top: 2px;
  right: 5px;
  width: 28px;
  height: 28px;
  opacity: 0;
}

.template_showing_box:hover .more_dialog {
  opacity: 1;
  transition: 0.5s all;
}

.more_dialog img {
  height: 100%;
  width: 100%;
}

.text_showing_box {
  width: 90px;
  cursor: pointer;
}

.bottom_top {
  position: relative;
  animation: mymove 0.2s alternate;
}

@keyframes mymove {
  from {
    top: 50px;
  }
  to {
    top: 0px;
  }

  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.2;
  }
  30% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.8;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

.top_bottom {
  position: relative;
  animation: mymoveTop 0.2s alternate;
}

@keyframes mymoveTop {
  from {
    top: -50px;
  }
  to {
    top: 0px;
  }

  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.2;
  }
  30% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.8;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

.upload_file .button {
  padding: 7px 10px;
  width: 100%;
  background: linear-gradient(
    268.03deg,
    #5961f8 -0.66%,
    #15d8c5 100%,
    #15d8c5 100%
  );

  margin: 15px 0 10px;
  box-shadow: 8px 8px 16px rgba(171, 178, 199, 0.5),
    -10px -10px 16px rgba(255, 255, 255, 0.8);
  border-radius: 6px;
  color: white;
  height: 36px;
}

.imageUploadBox {
  padding: 20px;
  margin-top: 10px;
  text-align: center;
  background: #edf0f9;
  border: 1.5px solid #e6e8ee;
  box-shadow: 8px 8px 16px rgba(171, 178, 199, 0.5),
    -10px -10px 16px rgba(255, 255, 255, 0.8);
  border-radius: 6px;
}

.imageUploadBox.dragging {
  border-color: #555;
}

.uploadButton {
  color: #fff;
  background: linear-gradient(
    268.03deg,
    #5961f8 -0.66%,
    #15d8c5 100%,
    #15d8c5 100%
  );
  padding: 10px 30px;
  margin: 15px auto 0px;
  box-shadow: 8px 8px 16px rgba(171, 178, 199, 0.5),
    -10px -10px 16px rgba(255, 255, 255, 0.8);
  border-radius: 6px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageUploadBox p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #5c626a;
}

.draw .title {
  font-weight: 600;
  font-size: 15px;
  line-height: 16px;
  color: #1c3048;
  padding: 10px 0 10px;
}

.select_brush .brush_1 .brush {
  border: 2px solid #1c3048;
  border-radius: 2px;
}

.select_brush .brush_2 .brush {
  border: 5px solid #1c3048;
  border-radius: 7px;
}

.select_brush .brush_3 .brush {
}

.select_brush .hover {
  padding: 13px 5px;
  cursor: pointer;
  border-radius: 10px;
}

.select_brush .hover:hover {
  box-shadow: -8px -8px 16px rgba(255, 255, 255, 0.8),
    8px 8px 16px rgba(171, 178, 199, 0.5),
    inset 8px 8px 16px rgba(171, 178, 199, 0.4),
    inset -8px -8px 16px rgba(255, 255, 255, 0.7);
}

.weight .flex_box {
  display: flex;
  align-items: center;
  margin: 20px 0;
  justify-content: space-between;
}

.weight .flex_box .box {
  width: 38px;
  height: 38px;
  border: 1px solid #abb2c7;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.box .weight_1 {
  width: 4px;
  height: 4px;
  background: #1c3048;
  border-radius: 50%;
}

.box .weight_2 {
  width: 8px;
  height: 8px;
  background: #1c3048;
  border-radius: 50%;
}

.box .weight_3 {
  width: 10px;
  height: 10px;
  background: #1c3048;
  border-radius: 50%;
}

.box .weight_4 {
  width: 14px;
  height: 14px;
  background: #1c3048;
  border-radius: 50%;
}

.weight .flex_box .custome_box {
  height: 38px;
  padding: 0 15px;
  border: 1px solid #abb2c7;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 128px;
}

.custome_box img {
  cursor: pointer;
  width: 16px;
  height: 16px;
}

.custome_box p {
  font-weight: 500;
  font-size: 15px;
}

.rangebar_custome {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 0 20px;
}

.rangebar_custome p {
  font-size: 15px;
  font-weight: 500;
}

.rangebar_custome .slider {
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  background: #d3d3d3;
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.rangebar_custome .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  background: #1c3048;
  cursor: pointer;
  border-radius: 50%;
}

.rangebar_custome .slider::-moz-range-thumb {
  width: 12px;
  height: 12px;
  background: #1c3048;
  cursor: pointer;
}

.draw .button_box {
  display: flex;
  justify-content: space-between;
}

.draw .button_box button {
  display: flex;
  align-items: center;
  background: #edf0f9;
  box-shadow: -8px -8px 16px rgba(255, 255, 255, 0.3),
    8px 8px 16px rgba(171, 178, 199, 0.5),
    inset 8px 8px 16px rgba(171, 178, 199, 0.3),
    inset -8px -8px 16px rgba(255, 255, 255, 0.7);
  border-radius: 4px;
  font-size: 15px;
  width: 48%;
  padding: 7px;
  justify-content: center;
  gap: 10px;
  height: 40px;
}

/* .draw .button_box .green_text {
  leading-trim: both;
  text-edge: cap;
  background: linear-gradient(268.03deg, #5765f6 -0.66%, #30a9d9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
} */

.gradient_text {
  leading-trim: both;
  text-edge: cap;
  background: linear-gradient(268.03deg, #5765f6 -0.66%, #30a9d9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-weight: 500;
}

.color_box {
  border-bottom: 1px solid #d9d9d9;
  padding: 10px 0;
}

.color_box h3 {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #1c3048;
}

.color_box .flex_box {
  padding: 15px 0 15px;
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

/* .color_box .flex_box {
  padding: 15px 0 15px; */
/* display: flex; */
/* gap: 9px; */
/* flex-wrap: wrap; */

/* display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  gap: 5px; */
/* margin-top: 20px; */
/* } */

.color_box .grid_box {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  gap: 10px;
}

.color_box .flex_box .box {
  width: 35px;
  height: 35px;
  border-radius: 4px;
  cursor: pointer;
}

.add_heading_box {
  margin: 15px 0 20px;
}

.add_heading_box .add_text_box {
  padding: 7px 10px;
  width: 100%;
  background: linear-gradient(
    268.03deg,
    #5961f8 -0.66%,
    #15d8c5 100%,
    #15d8c5 100%
  );

  margin: 5px 0;
  box-shadow: 8px 8px 16px rgba(171, 178, 199, 0.5),
    -10px -10px 16px rgba(255, 255, 255, 0.8);
  border-radius: 6px;
  color: white;
}

.add_heading_box .add_heading {
  width: 100%;
  margin: 12px 0;
  box-shadow: 8px 8px 16px rgba(171, 178, 199, 0.5),
    -10px -10px 16px rgba(255, 255, 255, 0.8);
  border-radius: 6px;
  font-weight: 600;
  line-height: 16px;
  color: #1c3048;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add_heading_box .subheading {
  font-size: 18px;
}

.add_heading_box .little {
  font-weight: 400;
  font-size: 14px;
}

.background .colors_title {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 10px;
  align-items: center;
}

.background .colors_title h3 {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #1c3048;
}

/* .background .colors_title img {
  width: 18px;
} */

.background .colors_value {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  padding-bottom: 10px;
}

.background .colors_value .box {
  width: 28px;
  height: 28px;
  border-radius: 4px;
  cursor: pointer;
}

.divider {
  height: 1px;
  width: 100%;
  background-color: #d9d9d9;
}

.keyword_div {
  display: flex;
  grid-template-columns: auto auto auto;
  gap: 8px;
  flex-wrap: wrap;
}

.chips {
  font-size: 13px;
  width: fit-content;
  border-radius: 4px;
  border: 0.8px solid var(--gray, #abb2c7);
  padding: 2px 5px;
}

.unlike_icon {
  width: 20px;
  height: 20px;
}
.unlike_icon img {
  width: 100%;
  height: 100%;
}

.unlike_report {
  display: flex;
  padding: 10px 13px;
  align-items: center;
  gap: 10px;
  /* margin-bottom: 12px; */
  cursor: pointer;
}

.unlike_report:hover {
  background-color: rgba(0, 0, 0, 0.109);
}

.background_blur {
  /* background: #00000082; */
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 5000000;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.30000001192092896;
  background: var(--blue, #1c3048);
  /* filter: blur(100px);
  -webkit-filter: blur(100px); */
}

.report_dialog {
  border-radius: 10px;
  background: #fff;
  /* width: 800px; */
  /* height: 790px; */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5000001;
  transition: 0.2s all;
  /* filter: drop-shadow(-6px 6px 15px rgba(0, 0, 0, 0.25)); */
}

.reporting_content {
  padding: 20px 0px;
  overflow-y: auto;
}
.redio_hover {
  padding: 13px 20px;
  display: flex;
  gap: 15px;
  align-items: flex-start;
  cursor: pointer;
}

.redio_hover:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.report_textarea {
  border: 0.5px solid #1c3048;
  resize: none;
  background: #f4f7fe;
  width: 500px;
  padding: 10px;
}

.report_textarea:focus {
  outline: none !important;
}

.ontick {
  position: relative;
}
.untick {
  position: absolute;
  top: 8px;
  left: 8px;
  cursor: pointer;
}

.ticked {
  border-radius: 8px;
  border: 2px solid #4289e7;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.button_hover:hover {
  box-shadow: -8px -8px 16px rgba(255, 255, 255, 0.3),
    8px 8px 16px rgba(171, 178, 199, 0.5),
    inset 8px 8px 16px rgba(171, 178, 199, 0.3),
    inset -8px -8px 16px rgba(255, 255, 255, 0.7);
}
